/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/10/2016, 03:07:33 PM
    Author     : mich
*/

.espas{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(153, 153, 255);    
}
.espas-search-prods{
    padding-bottom: 10px;
    border-radius: 10px;
}
.espascompra{
    border-radius: 10px; 
}
.footers{
    background-color: #6B6C6E; 
}
.maxtamaño{
    max-width: 70%;
    max-height: 70%;
    width: 70%;
    height: 70%
}