/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-may-2016, 1:44:02
    Author     : mich
*/

.contenedorfull{
	width:100%;
	max-width:1500px;
	margin:0 auto;
	overflow:hidden; 
}






    @media (min-width: 200px)and(max-width:600) {

       
a{
    font-size: 15px;
}
li{
    font-size: 15px;
}
p{
    font-size: 12px
}

    }

    